<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/mainlayout}">
<head>
    <title>Product Management System</title>
</head>
<body>

    <th:block layout:fragment="content">
        <div class="homepage-content">
            <p class="homepage-description"><span class="logo-color">i</span>Shop your electronic online store</p>
            <img src="https://i.imgur.com/UPu16GN.jpg" height="300px" alt="computer">
        </div>
    </th:block>

    <th:block layout:fragment="footer"></th:block>
</body>
</html>